<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="ostMapApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="ostMapApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="ostMapApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="ostMapApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OSTMap</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-layout/src/ui-layout.css"/>
    <link rel="stylesheet" href="bower_components/leaflet.markercluster/dist/MarkerCluster.css"/>
    <link rel="stylesheet" href="bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css"/>
    <link rel="stylesheet" href="bower_components/PruneCluster/dist/LeafletStyleSheet.css"/>
    <link rel="stylesheet" href="bower_components/rickshaw/rickshaw.min.css"/>

</head>
<body>
<div ng-controller="MainCtrl">
    <navigation></navigation>

    <div class="container">
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
        <div class="loading" id="loading">
            <uib-alert class="alert" type="danger" role="alert">
                <button class="btn btn-danger btn-sm" ng-click="ignoreLoading()">Ignore</button>
                Status: {{timePassed}} s
                <br>
                {{info}}

            </uib-alert>
        </div>

        <div ng-view></div>
    </div>

    <div class="bottom-bar navbar-default navbar-fixed-bottom" >
        OSTMap app: v1.5
    </div>
</div>

<!-- CDN Scripts -->
<script sync src="https://platform.twitter.com/widgets.js"></script>


<!-- Bower Scripts -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/leaflet/dist/leaflet.js"></script>
<script src="bower_components/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
<script src="bower_components/ui-leaflet/dist/ui-leaflet.min.js"></script>
<script src="bower_components/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
<script src="bower_components/angular-ui-layout/src/ui-layout.js"></script>
<script src="bower_components/underscore/underscore-min.js"></script>
<script src="bower_components/PruneCluster/dist/PruneCluster.min.js"></script>
<script src="bower_components/rickshaw/vendor/d3.v3.js"></script>
<!--<script src="bower_components/d3/d3.min.js"></script>-->
<script src="bower_components/rickshaw/rickshaw.min.js"></script>
<script src="bower_components/angular-rickshaw/rickshaw.js"></script>



<!-- OSTMap Scripts -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/controller.main.js"></script>
<script src="scripts/controllers/controller.map.js"></script>
<script src="scripts/controllers/controller.analytics.js"></script>
<script src="scripts/controllers/controller.list.js"></script>
<script src="scripts/controllers/controller.about.js"></script>
<script src="scripts/services/service.navigation.js"></script>
<script src="scripts/services/service.http.js"></script>
<script src="scripts/directives/directive.navigation.js"></script>
</body>
</html>