.twitter-profile-pic-list{
    width: 50px;
    height: 50px;
}

.map{
    height: 520px;
    width: 100%;
}

.loading{
    position: relative;
    width: 90%;
    z-index: 1000;
    margin-top: -40px;
    margin-bottom: -40px;
}

.bottom-bar{
    margin-top: 10px;
    margin-left: 20px;
}

.red {
    border-radius: 120px;
    background-color: #FF0000;
}

.blue {
    border-radius: 120px;
    background-color: #0000FF;
}

#tweet {
    width: 400px !important;
}

#tweet iframe {
    border: none !important;
    box-shadow: none !important;
}

.leaflet-popup-content-wrapper{
    height: 450px;
    /*width: 450px;*/
}

.Tweet {
    /*position: fixed;*/
    display: block;
    margin-left: -10px;
    /*margin-right: -10px;*/
    height: 420px;
    /*width: 95%;*/
    border: 0;
}