.twitter-profile-pic-list{
    width: 50px;
    height: 50px;
}

.map{
    height: 520px;
    width: 100%;
}

.loading{
    position: relative;
    width: 90%;
    z-index: 1000;
    margin-top: -40px;
    margin-bottom: -40px;
}

.bottom-bar{
    margin-top: 10px;
    margin-left: 20px;
}

.red {
    border-radius: 120px;
    opacity: .40;
    background-color: #FF0000;
}

.blue {
    border-radius: 120px;
    opacity: .40;
    background-color: #0000FF;
}

#tweet {
    width: 400px !important;
}

#tweet iframe {
    border: none !important;
    box-shadow: none !important;
}