<p>&nbsp;</p>
<div class="input-group">
    <input type="text" class="form-control" placeholder="Search for...">
    <div class="input-group-btn">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;Search&nbsp;<span
                class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Show results as list</a></li>
            <li><a href="#">Show results as map</a></li>
        </ul>
    </div>

</div><!-- /input-group -->
<label class="checkbox-inline" ng-repeat="box in search.checkBoxes">
    <input type="checkbox" id="inlineCheckbox1" value="{{box.fieldname}}" ng-checked="box.checked">{{ box.fieldname }}
</label>
<p>&nbsp;</p>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Results</div>

    <!-- Table -->
    <table class="table table-hover">
        <tr>
            <td>
                <img class="twitter-profile-pic-list" src="http://www.outsourcing-pharma.com/var/plain_site/storage/images/galleries/pharmaceutical-science/osp-people-november-7-2013/dan-bradbury-profil-institute/8549866-1-eng-GB/Dan-Bradbury-Profil-Institute_dnm_gallery.jpg">
            </td>
            <td>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam volu</p>
            </td>
        </tr>
        <tr>
            <td>
                <img class="twitter-profile-pic-list" src="http://www.outsourcing-pharma.com/var/plain_site/storage/images/galleries/pharmaceutical-science/osp-people-november-7-2013/dan-bradbury-profil-institute/8549866-1-eng-GB/Dan-Bradbury-Profil-Institute_dnm_gallery.jpg">
            </td>
            <td>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam volu</p>
            </td>
        </tr>
        <tr>
            <td>
                <img class="twitter-profile-pic-list" src="http://www.outsourcing-pharma.com/var/plain_site/storage/images/galleries/pharmaceutical-science/osp-people-november-7-2013/dan-bradbury-profil-institute/8549866-1-eng-GB/Dan-Bradbury-Profil-Institute_dnm_gallery.jpg">
            </td>
            <td>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam volu</p>
            </td>
        </tr>
    </table>
</div>