<h4>Current Filters: {{currentFilters}}</h4>

<div>
    <rzslider ng_disabled=true rz-slider-model="slider_ticks_values_tooltip.value" rz-slider-options="slider_ticks_values_tooltip.options"></rzslider>

    <div class="btn-group">
        <label class="btn btn-success" ng-click="search.updateFilters()" ng-model="timeFilter" uib-btn-radio="'1h'">1h</label>
        <label class="btn btn-success" ng-click="search.updateFilters()" ng-model="timeFilter" uib-btn-radio="'2h'">2h</label>
        <label class="btn btn-success" ng-click="search.updateFilters()" ng-model="timeFilter" uib-btn-radio="'3h'">4h</label>
        <label class="btn btn-success" ng-click="search.updateFilters()" ng-model="timeFilter" uib-btn-radio="'1d'">1d</label>
        <label class="btn btn-success" ng-click="search.updateFilters()" ng-model="timeFilter" uib-btn-radio="'All'">All</label>
    </div>
    <button class="btn btn-primary" ng-click="search.clearFilters()">Clear Filters</button>
    <!--<button class="btn btn-primary" ng-disabled=false ng-click="search.updateFilters()">[DEBUG] Refresh</button>-->
    <button class="btn btn-primary" ng-disabled="clickOnce" ng-click="onBounds(); clickOnce = true; search.clearFilters()">[DEBUG] Start bounds event handler</button>
    <!--<button class="btn btn-primary" ng-disabled=false ng-click="populateMarkers()">[DEBUG] Populate Markers</button>-->
</div>


<br>
<section class="indent-1">
    <section>
        <!--2. Simple leaflet.js Map-->
        <!--<div id="map" class="map"></div>-->

        <!--1. UI-Leaflet Map-->
        <leaflet id="map" class="map" lf-center="center" bounds="bounds" maxBounds="maxBounds" markers="markers" event-broadcast="events"></leaflet>
        <code>
            [DEBUG]
            <br>
            Maxbounds:
            <p ng-show="maxBounds.northEast" class="result">NE(lat: {{maxBounds.northEast.lat}}, lng: {{maxBounds.northEast.lng}}) SW(lat: {{maxBounds.southWest.lat}}, lng: {{maxBounds.southWest.lng}})</p>

            Current Center:
            <p>Latitude : <input type="number" step="any" ng-model="center.lat" /> Longitude : <input type="number" step="any" ng-model="center.lng" /></p>
            <p>Zoom : <input type="number" step="any" ng-model="center.zoom" /></p>

            Current Bounds:
            <p class="result">NE(lat: {{bounds.northEast.lat}}, lng: {{bounds.northEast.lng}}) <br> SW(lat: {{bounds.southWest.lat}}, lng: {{bounds.southWest.lng}})</p>
            <!--<p class="result">NE(lat: {{currentBounds._northEast.lat}}, lng: {{currentBounds._northEast.lng}}) SW(lat: {{currentBounds._southWest.lat}}, lng: {{currentBounds._southWest.lng}})</p>-->
            <!--<button class="btn btn-primary" ng-visible=true ng-click="getBounds()">getBounds</button>-->
            <br>
        </code>
    </section>

    <section>
        <div class="top10 panel panel-default">
            <!-- Table -->
            <table class="table table-hover">
                <caption>Top 10 Hashtags</caption>
                <tr ng-repeat="tweet in data.tweets|limitTo:10" ng-click="search.setHashtagFilter(tweet.user.name)">
                    <td>
                        <p>#{{tweet.user.name}}</p>
                    </td>
                </tr>
            </table>
        </div>
    </section>
</section>

<br>
<br>

<div class="">
    <!-- Table -->
    <table class="table table-hover">
        <caption>{{data.tweets.length}} Tweets</caption>
        <tr ng-repeat="tweet in data.tweets|limitTo:10" ng-click="search.goToTweet(tweet.id, tweet.coordinates.coordinates[1], tweet.coordinates.coordinates[0])">
            <td>
                <img class="twitter-profile-pic-list" ng-src="{{tweet.user.profile_background_image_url}}">
            </td>
            <td>
                <p>{{tweet.user.name}}</p>
            </td>
            <td>
                <p style="word-wrap:break-word;">{{tweet.text}}</p>
                <p style="word-wrap:break-word;">{{tweet.geo.coordinates}}</p>
            </td>
        </tr>
    </table>
    <!--<uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true"></uib-pagination>-->
</div>