<nav id="navbar" class="navbar navbar-default">
    <!--The navigation bar at the top of the page. Used by the directive 'navigation'.-->
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{app.name}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-repeat="route in routesLeft" ng-class="{active: activeRoute(route)}">
                    <a href="#{{ route.path }}"><span ng-class="route.glyphicon" aria-hidden="true"></span>&nbsp;{{ route.name }}</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ng-repeat="route in routesRight" ng-class="{active: activeRoute(route)}">
                    <a href="#{{ route.path }}"><span ng-class="route.glyphicon" aria-hidden="true"></span>&nbsp;{{ route.name }}</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

