<br>
<uib-tabset active="active">
    <uib-tab index="0" heading="Sliding Histogram">
        <br>

        <div class="btn-group ">
            <label class="btn btn-success btn-lg" ng-model="timeFilter" uib-btn-radio="1">1h</label>
            <label class="btn btn-success btn-lg" ng-model="timeFilter" uib-btn-radio="2">2h</label>
            <label class="btn btn-success btn-lg" ng-model="timeFilter" uib-btn-radio="4">4h</label>
            <label class="btn btn-success btn-lg" ng-model="timeFilter" uib-btn-radio="6">6h</label>
            <label class="btn btn-success btn-lg" ng-model="timeFilter" uib-btn-radio="12">12h</label>
            <label class="btn btn-success btn-lg" ng-model="timeFilter" uib-btn-radio="24">1d</label>
            <label class="btn btn-danger btn-lg" ng-click="updateFilters()">Manual Update</label>
        </div>
        <br>
        <br>
        <label class="">Current Filters: {{timeFilter}}h</label>

        <br><br>

        <code>
            DEBUG
            <br>
            <br>
            data.tweetFrequency: {{data.tweetFrequency}}
        </code>

        <br>    <br>



        <!--<div id="chart"></div>-->
        <rickshaw
                rickshaw-options="options"
                rickshaw-features="features"
                rickshaw-series="data.series">
        </rickshaw>

        <br><br>
        <code>Data: {{data.series[0]}}</code>
        <br><br>
        <code>Data: {{data.series[1]}}</code>
    </uib-tab>


    <uib-tab index="1" heading="Scoreboard: Area">
        Static content
    </uib-tab>


    <uib-tab index="2" heading="Scoreboard: Distance">
        Static content
    </uib-tab>
</uib-tabset>