<br>
<uib-tabset active="active">
    <uib-tab index="0" heading="Sliding Histogram">
        <br>

        <!--<div id="chart"></div>-->
        <rickshaw
                rickshaw-options="options"
                rickshaw-features="features"
                rickshaw-series="series">
        </rickshaw>

        <br><br>
        <code>Data: {{series[0]}}</code>
        <br><br>
        <code>Data: {{series[1]}}</code>
    </uib-tab>


    <uib-tab index="1" heading="Scoreboard: Area">
        <br>
        <div class="col-xs-6 col-md-4">
            <div class="panel panel-default">
                <!-- Table -->
                <table class="table table-hover tabled-striped">
                    <caption>Top 10 Users: Area Covered</caption>
                    <tr ng-repeat="tweet in data.tweets|limitTo:10" ng-click="search.setHashtagFilter(tweet.user.screen_name)">
                        <td>
                            <p>#{{tweet.user.screen_name}}</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </uib-tab>


    <uib-tab index="2" heading="Scoreboard: Distance">
        <br>
        <div class="col-xs-6 col-md-4">
            <div class="panel panel-default">
                <!-- Table -->
                <table class="table table-hover tabled-striped">
                    <caption>Top 10 Users: Distance Covered</caption>
                    <tr ng-repeat="tweet in data.tweets|limitTo:10" ng-click="search.setHashtagFilter(tweet.user.screen_name)">
                        <td>
                            <p>#{{tweet.user.screen_name}}</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </uib-tab>
</uib-tabset>