<div class="listViewContainer container-fluid">
    <div class="col-md-6 col-xs-6">
        <div class="btn-group" uib-dropdown is-open="status.isopen">
            <button id="single-button" type="button" class="btn btn-danger btn-sm" uib-dropdown-toggle ng-disabled="disabled">
                Data Source: {{dataSource}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-form" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem" ng-click="dataSource = 'accumulo'"><a>Accumulo (Default)</a></li>
                <li role="menuitem" ng-click="dataSource = 'localhost'"><a>localhost:8082 (w/ rungTunnel)</a></li>
                <li role="menuitem" ng-click="dataSource = 'static'"><a>Static Test Data (example.json)</a></li>
            </ul>
        </div>
        <br>
        <br>
        <div class="input-group">
            <input ng-model="search.inputValue" ng-model-options="{ getterSetter: true }" type="text" class="form-control" placeholder="Search for..."
                   ng-keyup="$event.keyCode == 13 && (search.searchFields.text.checked || search.searchFields.user.checked) && search.updateFilters('list')">
            <div class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="search.updateFilters()" ng-disabled="!search.searchFields.text.checked && !search.searchFields.user.checked">
                    <span class="glyphicon glyphicon-search"></span>
                    &nbsp;Search&nbsp;
                </button>
            </div>
        </div><!-- /input-group -->

        <label class="checkbox-inline" ng-repeat="(boxKey, boxValue) in search.searchFields">
            <input type="checkbox" id="inlineCheckbox1" ng-model="boxValue.checked" ng-checked="boxValue.checked">{{ boxKey }}
        </label>
        <br>
        <br>

        <div class="panel panel-default" ng-show="data.tweets.length > 0">
            <!-- Table -->
            <table class="table table-hover table-condensed table-responsive">
                <caption>{{data.tweets.length}} Tweets</caption>
                <tr ng-repeat="tweet in currentSlice|limitTo:100 track by $index" ng-click="search.goToTweet($index, tweet.id_str, tweet.coordinates.coordinates[1], tweet.coordinates.coordinates[0])">
                    <td>
                        <img class="twitter-profile-pic-list" ng-src="{{tweet.user.profile_image_url}}">
                    </td>
                    <td>
                        {{tweet.user.name}}
                        <br>
                        <!--<a href="http://twitter.com" onclick="window.open('twitter.com%2F' + tweet.user.screen_name)" target="_blank">@{{tweet.user.screen_name}}</a>-->
                        <a ng-click="stalkUser(tweet.user.screen_name)">@{{tweet.user.screen_name}}</a>
                    </td>
                    <td>
                        <p style="word-wrap:break-word;">{{tweet.text}}</p>
                        <!--<code style="word-wrap:break-word;">{{tweet.coordinates.coordinates[1]}}, {{tweet.coordinates.coordinates[0]}}</code>-->
                    </td>
                </tr>
            </table>
        </div>
        <uib-pagination  ng-show="data.tweets.length > 0" class="row pagination-sm" total-items="totalItems" ng-model="currentPage" max-size = "maxSize" items-per-page= "itemsPerPage" boundary-link-numbers="true" ng-change="pageChanged()"></uib-pagination>
    </div>
    <div class="col-md-6 col-xs-6">
        <leaflet
                id="tokenMap"
                class="tokenMap"
                lf-center="center"
                bounds="bounds"
                maxbounds="maxBounds"
                markers="markers"

                layers="layers"
                event-broadcast="events">
            <!--markers-watch-options="markersWatchOptions"-->
        </leaflet>
    </div>
</div>