<div class="btn-group" uib-dropdown is-open="status.isopen">
    <button id="single-button" type="button" class="btn btn-danger btn-sm" uib-dropdown-toggle ng-disabled="disabled">
        Data Source: {{dataSource}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-form" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem" ng-click="dataSource = 'accumulo'"><a>Accumulo (Default)</a></li>
        <li role="menuitem" ng-click="dataSource = 'restTest'"><a>REST Test Data (::8080 w/ delay)</a></li>
        <li role="menuitem" ng-click="dataSource = 'static'"><a>Static Test Data (example.json)</a></li>
    </ul>
</div>
<p>&nbsp;</p>

<div class="input-group">
    <input ng-model="search.inputValue" ng-model-options="{ getterSetter: true }" type="text" class="form-control" placeholder="Search for..."
           ng-keyup="$event.keyCode == 13 && (search.searchFields.text.checked || search.searchFields.user.checked) && search.onClick('list')">
    <div class="input-group-btn">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" ng-disabled="!search.searchFields.text.checked && !search.searchFields.user.checked">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;Search&nbsp;<span
                class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li ng-click="search.onClick('list')"><a href="#">Show results as list</a></li>
            <li ng-click="search.onClick('map')"><a href="#/map">Show results as map</a></li>
        </ul>
    </div>

</div><!-- /input-group -->
<label class="checkbox-inline" ng-repeat="(boxKey, boxValue) in search.searchFields">
    <input type="checkbox" id="inlineCheckbox1" ng-model="boxValue.checked" ng-checked="boxValue.checked">{{ boxKey }}
</label>
<p>&nbsp;</p>
<div class="panel panel-default" ng-show="data.tweets.length > 0">
    <!-- Table -->
    <table class="table table-hover">
        <caption>{{data.tweets.length}} Tweets</caption>
        <tr ng-repeat="tweet in data.tweets">
            <td>
                <img class="twitter-profile-pic-list" ng-src="{{tweet.user.profile_image_url}}">
            </td>
            <td>
                <p>{{tweet.user.name}}</p>
            </td>
            <td>
                <p style="word-wrap:break-word;">{{tweet.text}}</p>
            </td>
        </tr>
    </table>
</div>
