<!--Bootstap Containers: https://getbootstrap.com/css/-->
<div class="container-fluid">
    <div class="row">
        <!--<rzslider ng_disabled=true rz-slider-model="slider_ticks_values_tooltip.value" rz-slider-options="slider_ticks_values_tooltip.options"></rzslider>-->

        <div class="btn-group ">
            <label class="btn btn-success btn-lg" ng-click="search.updateFilters()" ng-model="timeFilter" uib-btn-radio="'1'">1h</label>
            <label class="btn btn-success btn-lg" ng-click="search.updateFilters()" ng-model="timeFilter" uib-btn-radio="'2'">2h</label>
            <label class="btn btn-success btn-lg" ng-click="search.updateFilters()" ng-model="timeFilter" uib-btn-radio="'3'">4h</label>
            <label class="btn btn-success btn-lg" ng-click="search.updateFilters()" ng-model="timeFilter" uib-btn-radio="'24'">1d</label>
            <label class="btn btn-success btn-lg" ng-click="search.updateFilters()" ng-model="timeFilter" uib-btn-radio="'0'">All</label>
        </div>
        <button class="btn btn-primary btn-lg" ng-click="search.clearFilters()" >Reset</button>
        <div class="btn-group ">
            <label class="btn btn-danger btn-lg" ng-model="autoUpdateDisabled" uib-btn-checkbox btn-checkbox-true=true btn-checkbox-false=false>Disable AutoUpdate</label>
            <label class="btn btn-danger btn-lg" ng-disabled="!autoUpdateDisabled" ng-click="search.updateFilters()">Manual Update</label>
        </div>

        <div class="btn-group" uib-dropdown is-open="status.isopen">
            <button id="single-button" type="button" class="btn btn-danger btn-lg" uib-dropdown-toggle ng-disabled="disabled">
                Data Source: {{dataSource}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-form" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem" ng-click="dataSource = 'accumulo'"><a>Accumulo (Default)</a></li>
                <li role="menuitem" ng-click="dataSource = 'restTest'"><a>REST Test Data (::8080 w/ delay)</a></li>
                <li role="menuitem" ng-click="dataSource = 'static'"><a>Static Test Data (example.json)</a></li>
            </ul>
        </div>

        <label class="" style="margin-left: 10px">Current Filters: {{currentFilters}}</label>
    </div>

    <br>

    <div class="row">
        <div class="col-xs-12 col-md-8">
            <!--1. UI-Leaflet Map-->
            <leaflet id="map" class="map" lf-center="center" bounds="bounds" maxbounds="maxBounds" markers="markers" event-broadcast="events"></leaflet>
        </div>

        <div class="col-xs-6 col-md-4">
            <div class="panel panel-default">
                <!-- Table -->
                <table class="table table-hover tabled-striped">
                    <caption>Top 10 Hashtags</caption>
                    <tr ng-repeat="tweet in data.tweets|limitTo:10" ng-click="search.setHashtagFilter(tweet.user.name)">
                        <td>
                            <p>#{{tweet.user.name}}</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="row alert alert-danger" uib-collapse="clickOnce" role="alert">
        <strong>[DEBUG]</strong>
        <button class="btn btn-danger btn-sm" ng-click="clickOnce = true;">Hide</button>
        <br>
        <code>
            dataSource: {{dataSource}}<br>
            autoUpdateDisable: {{autoUpdateDisabled}}<br>
            TweetID: {{currentMarkerID}}<br>
            {{currentBounds}}<br>
            Maxbounds:
            NE(lat: {{maxBounds.northEast.lat}}, lng: {{maxBounds.northEast.lng}}) SW(lat: {{maxBounds.southWest.lat}}, lng: {{maxBounds.southWest.lng}})
            <br>
            <br>Current Center:<br>
            Latitude: <input type="number" step="any" ng-model="center.lat" /> Longitude: <input type="number" step="any" ng-model="center.lng" />
            Zoom: <input type="number" step="any" ng-model="center.zoom" />
            <br>
            <br>Current Bounds:
            <br>NE(lat: {{bounds.northEast.lat}}, lng: {{bounds.northEast.lng}})
            <br> SW(lat: {{bounds.southWest.lat}}, lng: {{bounds.southWest.lng}})
            <!--<p class="result">NE(lat: {{currentBounds._northEast.lat}}, lng: {{currentBounds._northEast.lng}}) SW(lat: {{currentBounds._southWest.lat}}, lng: {{currentBounds._southWest.lng}})</p>-->
            <!--<button class="btn btn-primary" ng-visible=true ng-click="getBounds()">getBounds</button>-->
        </code>
    </div>

    <uib-pagination class="row pagination-sm" total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" boundary-link-numbers="true"></uib-pagination>

    <div class="panel panel-default row">
        <!-- Table -->
        <table class="table table-hover tabled-striped table-condensed table-responsive">
            <caption>{{data.tweets.length}} Tweets</caption>
            <tr ng-repeat="tweet in data.tweets" ng-click="search.goToTweet(tweet.id, tweet.coordinates.coordinates[1], tweet.coordinates.coordinates[0])">
                <td>
                    <img class="twitter-profile-pic-list" ng-src="{{tweet.user.profile_background_image_url}}">
                </td>
                <td>
                    <p>{{tweet.user.name}}</p>
                </td>
                <td>
                    <p style="word-wrap:break-word;">{{tweet.text}}</p>
                    <code style="word-wrap:break-word;">{{tweet.geo.coordinates}}</code>
                </td>
            </tr>
        </table>
        <!--<uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true"></uib-pagination>-->
    </div>
</div>
