<br>
<div class="analyticsViewContainer" >
    <br>
    <div class="col-xs-6 col-md-4">
        <div class="panel panel-default">
            <!-- Table -->
            <table class="table table-hover tabled-striped">
                <caption>Top 10 Users: Area Covered</caption>
                <tr ng-repeat="score in data.highScore.area" ng-click="goToHighScoreArea()">
                    <td>
                        <p>{{score.user}}</p>
                        <p>{{score.area}} km²</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="col-xs-6 col-md-4">
        <div class="panel panel-default">
            <!-- Table -->
            <table class="table table-hover tabled-striped">
                <caption>Top 10 Users: Distance Covered</caption>
                <tr ng-repeat="score in data.highScore.path" ng-click="goToHighScoreDistance()">
                    <td>
                        <p>{{score.user}}</p>
                        <p>{{score.distance}} km</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>